html {
	background: black;
	height: 100%;
	overflow: hidden;
}

body {
	background-color: black;
	margin: 0;
	height: 100%;
}

p {
	color: green;
	font-family: monospace;
	font-size: 12pt;
	word-wrap: break-word;
}

.hidden {
	display: none;
}

